
* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --blanco: white;
  --gris-medio: #333333;
  --gris-oscuro:rgb(112, 112, 250);
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --verde: gray;
}

h2 {
  color: black;
  font-family: var(--main-font);
  font-size: 30px;
  margin-top: 60px;
}
p{
color: black;
font-size: 90%;
}

.contact-section {
  align-items: center;
  background-color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.form-label{
  color: black;
  font-size: 18px;
  align-items: center;
}

.send-button
 {
  background-color:rgb(62, 62, 245);
  color: black;
  height: 30px;
  width: 100px;
align-items: center;
  font-size: 16px;
  
}
